@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4F6;
  color: #262626;
}

/* Scrollbar estilo John Deere */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #367C2B; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2a6022; 
}